h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220601049-2. Establecer controles para la prevención y mitigación de riesgos eléctricos en la instalación, desinstalación, puesta en marcha y mantenimiento de sistemas con motores de imanes permanentes de acuerdo con normativa.