.container
    .header-ecored
        h1 3. Disciplina operativa
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/img31.png").img-fluid
        p.mt-5 La disciplina operativa es la dedicación y el compromiso de cada miembro de la organización para “llevar a cabo todas las tareas, siempre, de la forma correcta”, con comportamientos éticos, liderazgo ejemplar y colectivo, soportado en la disciplina de pensamiento.  
        p El ciclo de la práctica de disciplina operativa es:
        .row.justify-content-center.align-items-center.mt-5
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Las etapas de disciplina operativa: DICACOCU (Disponibilidad, Calidad, Comunicación y Cumplimiento) 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Liderazgo.  
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Comportamientos.
        img.img-a.mt-5(src="assets/images/pages/img32.svg").img-fluid
        .sub-ecored.mt-5#31
            h2 3.1 Ciclo DICACOCU  
        p.mt-5 En la guía de disciplina operativa de Ecopetrol se contempla que: para que un trabajo se desarrolle de forma correcta y segura, quien ejecute la actividad, debe contar con un procedimiento o instructivo de trabajo que cumplan con los siguientes requisitos:   

        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img36.svg").img-fluid    
                        h3 Disponibilidad 
                        .hr-ecored
                        p.mb-0 Se debe tener disponible el procedimiento o instructivo de trabajo en el sitio donde se desarrollan las actividades.    
                        
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img33.svg").img-fluid    
                        h3 Calidad 
                        .hr-ecored
                        p Debe ser elaborado y estar aprobado por un funcionario autorizado de la empresa que ejecuta la actividad. Debe tener como mínimo la siguiente información: 
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Descripción del paso a paso de la actividad.      

                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Los peligros, los riesgos, los controles y los responsables de estos.             

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img35.svg").img-fluid    
                        h3 Comunicación 
                        .hr-ecored
                        p.mb-0 El procedimiento o instructivo de trabajo debe ser comunicado y comprendido por todos los ejecutores involucrados en la ejecución de la actividad.  

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img34.svg").img-fluid    
                        h3 Cumplimiento 
                        .hr-ecored
                        p.mb-0 La empresa ejecutora debe garantizar el cumplimiento de lo establecido en el procedimiento o instructivo de trabajo en el sitio donde se desarrolla la actividad.

        p.mt-5 Los anteriores requisitos son fundamentales, en el sistema de permisos de trabajo, para que el ejecutor y el emisor luego de revisar y acordar el procedimiento o instructivo a seguir para la ejecución del trabajo, puedan autorizar la ejecución segura de la actividad.

        p La disciplina operativa contempla las siguientes actividades, las cuales buscan asegurar la excelencia en las operaciones:

        .row.justify-content-center.align-items-center.mt-5
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Evaluar y actualizar los procedimientos y actividades de los procesos a desarrollar.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Realizar el entrenamiento de acuerdo con el plan: la comunicación y el entrenamiento en los procedimientos, debe quedar registrada en el historial de formación de cada una de las personas entrenadas, para lo cual se debe coordinar la planeación, ejecución y registro de las acciones de formación.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Participar activamente en la implementación de la práctica. 