.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td ECOPETROL, (2018), Guía para la Aplicación de Disciplina Operativa. 
                    
                    td PDF
                    td 
                        a(href="media/documentos/HSE-G-011.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td ECOPETROL, (2015), Guía para operaciones simultáneas - SIMOPS durante operaciones de perforación.
                    
                    td PDF
                    td 
                        a(href="media/documentos/DYC_G_007_GUIA_PARA_OPERACIONES_SIMULTANEAS_SIMOPS.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td OCCIDENTAL DE COLOMBIA, (2016), Procedimiento HSE de seguridad eléctrica 60.400.105-COL.

                    
                    td Word
                    td 
                        a(href="media/documentos/Procedimiento_HSE_de_Seguridad_Electrica.doc", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver                        
                        
                tr
                    td OCCIDENTAL DE COLOMBIA, (s.f.), Seguridad Eléctrica. 
                    
                    td PDF
                    td 
                        a(href="media/documentos/Seguridad_Electrica.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td ECOPETROL, (2016), Manual manejo seguro del sistema eléctrico en ecopetrol - MASE.
                    
                    td PDF
                    td 
                        a(href="media/documentos/GHS_M_001_MANEJO_SEGURO_DEL_SISTEMA_ELECTRICO_EN_ECOPETROL.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Colmena ARL, (s.f.). Ponle actitud a tu seguridad
                    
                    td JPG
                    td 
                        a(href="media/documentos/Ponle_actitud_a_tu_seguridad.jpg", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver                                                